:root {
    --primary-color: #fff;
    --secondary-color: #000;
    --tertiary-color: #f00;
    --background-color: #222;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}

.container {
    position: relative;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}

canvas {
    border: 2px solid var(--primary-color);
    background-color: var(--secondary-color);
}

.restart {
    position: absolute;
    top: 50px;
    right: 10px;

    display: none;
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    cursor: pointer;

    font-family: sans-serif;
    font-size: 12pt;
    color: var(--primary-color);
}

.start {
    position: absolute;
    top: 80px;
    right: 10px;

    display: none;
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    cursor: pointer;

    font-family: sans-serif;
    font-size: 12pt;
    color: var(--primary-color);
}

.eraser {
    position: absolute;
    top: 110px;
    right: 10px;

    display: none;
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    cursor: pointer;

    font-family: sans-serif;
    font-size: 12pt;
    color: var(--primary-color);
}

.obsbtn {
    position: absolute;
    right: 10px;

    display: none;
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    outline: none;
    cursor: pointer;

    font-family: sans-serif;
    font-size: 12pt;
    color: var(--primary-color);
}
.obsbtn-1 {
    top: 140px;
}
.obsbtn-2 {
    top: 170px;
}
.obsbtn-3 {
    top: 200px;
}

.info {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    font-family: "Courier New", Courier, monospace;
    color: var(--primary-color);
}
